body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI",
    "Ubuntu", "Droid Sans", sans-serif;
  font-size: 14px;
  padding: 0 26px;
  line-height: 1.6;
  word-wrap: break-word;
}
.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}
